# DEPENDENCIES
basic-cli/

# SPECIFIC CONFIG FILES & SCRIPT OUTPUTS
# Ignore the backed up config files inside the backup folder
backup/.config/
# Ignore generic output files from your utils scripts
*.csv
*.json
*.log

# filestore index files (create using ./utils/create_index.sh)
*.db

# IDE and OS configurations
.idea/
.vscode/
.junie/
.directory
.DS_Store